.list {
    display: grid;
    max-width: 700px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;

    &TitleLink {
        color: #9696fd;

        &:hover {
            color: #cafd96;
            text-decoration: none;
        }
    }
}

@media(max-width: 700px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 500px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}